<div class="account-wrapper">
    <div class="account-body">
        <h3 class="account-body-title">Change Password</h3>

        <span class="col-sm-offset-1 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}}
        </span>
        <span class="col-sm-offset-1 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}}
        </span>
        <form class="form account-form" role="form" name="chandgepassword" data-ng-submit="SaveChangedPassword(chandgepassword.$valid)">
            <div class="form-group">
                <label for="login-username" class="placeholder-hidden">Old Password</label>
                <div class="col-xs-10 col-sm-11">
                    <input type="password" name="oldpass" data-ng-maxlength="20" data-ng-minlength="4" class="form-control" id="oldpassword" placeholder="Old password" data-ng-model="OldPassword" required tabindex="1">
                    <span style="color: red" data-ng-show="chandgepassword.$submitted || chandgepassword.oldpass.$touched">
                        <span data-ng-show="chandgepassword.oldpass.$error.required">Old Password is required.</span>
                        <span data-ng-show="chandgepassword.oldpass.$error.maxlength">Maximum 20 characters allowed!</span>
                        <span data-ng-show="chandgepassword.oldpass.$error.minlength">minimum 4 characters allowed!</span>
                    </span>
                </div>
                <a href="" id="oldPassword_eye"><span class="fa fa-eye" title="Show" style="padding-top: 5px; padding-bottom: 5px; margin-bottom: 15px;"></span></a>
            </div>

            <!-- /.form-group -->
            <div class="form-group">
                <label for="login-password" class="placeholder-hidden">New Password</label>
                <div class="col-xs-10 col-sm-11">
                    <input type="password" name="newpass" data-ng-maxlength="20" data-ng-minlength="4" class="form-control" id="newpassword" placeholder="New password" data-ng-model="NewPassword" required tabindex="2">
                    <span style="color: red" data-ng-show="chandgepassword.$submitted || chandgepassword.newpass.$touched">
                        <span data-ng-show="chandgepassword.newpass.$error.required">New Password is required.</span>
                        <span data-ng-show="chandgepassword.newpass.$error.maxlength">Maximum 20 characters allowed!</span>
                        <span data-ng-show="chandgepassword.newpass.$error.minlength">minimum 4 characters allowed!</span>
                    </span>
                </div>
                <a href="" id="newPassword_eye"><span class="fa fa-eye" title="Show" style="padding-top: 5px; padding-bottom: 5px; margin-bottom: 15px;"></span></a>
            </div>

            <div class="form-group">
                <label for="login-password" class="placeholder-hidden">Confirm Password</label>
                <div class="col-xs-10 col-sm-11">
                    <input type="password" class="form-control" name="confirmpass" data-ng-maxlength="20" data-ng-minlength="4" id="confirmpassword" placeholder="Confirm password" data-ng-model="ConfirmPassword" required tabindex="2">
                    <span style="color: red" data-ng-show="chandgepassword.$submitted || chandgepassword.confirmpass.$touched">
                        <span data-ng-show="chandgepassword.confirmpass.$error.required">Confirm Password is required.</span>
                        <span data-ng-show="chandgepassword.confirmpass.$error.maxlength">Maximum 20 characters allowed!</span>
                        <span data-ng-show="chandgepassword.confirmpass.$error.minlength">minimum 4 characters allowed!</span>
                    </span>
                </div>
                <a href="" id="confirmPassword_eye"><span class="fa fa-eye" title="Show" style="padding-top: 5px; padding-bottom: 5px; margin-bottom: 15px;"></span></a>

            </div>

            <!-- /.form-group -->
            <!-- /.form-group -->
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" title="Submit" class="btn btn-primary" tabindex="4">Submit </button>
                    <input type="button" title="Reset" class="btn btn-default" tabindex="4" id="reset" value="Reset" />
                </div>
            </div>
            <!-- /.form-group -->
        </form>
    </div>
    <!-- /.account-body -->
    <!-- /.account-footer -->
    <script type="text/javascript">
        $(function () {
            var oldPasswordeye = false;
            var newPasswordeye = false;
            var confirmPasswordeye = false;

            $('#oldPassword_eye').click(function () {
                if (oldPasswordeye) {
                    $('#oldpassword').attr('type', 'password');
                    oldPasswordeye = false;
                }
                else {
                    $('#oldpassword').attr('type', 'text');
                    oldPasswordeye = true;
                }
            });
            $('#newPassword_eye').click(function () {
                if (newPasswordeye) {
                    $('#newpassword').attr('type', 'password');
                    newPasswordeye = false;
                }
                else {
                    $('#newpassword').attr('type', 'text');
                    newPasswordeye = true;
                }
            });
            $('#confirmPassword_eye').click(function () {
                if (confirmPasswordeye) {
                    $('#confirmpassword').attr('type', 'password');
                    confirmPasswordeye = false;
                }
                else {
                    $('#confirmpassword').attr('type', 'text');
                    confirmPasswordeye = true;
                }
            });

            $('#reset').click(function () {
                $('#oldpassword').val('');
                $('#newpassword').val('');
                $('#confirmpassword').val('');
            });
        });

    </script>
</div>
