<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-7" style="padding: 0px;">
                    <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color:red;">
                                        {{error}}
                    </span>
                    <div class="col-sm-6">
                        <!-- /.portlet -->
                        <div class="portlet portlet-table">
                            <div class="portlet-content">
                                <div class="table-responsive">
                                    <table id="user-signups" class="table table-striped table-bordered table-checkable">
                                        <thead>
                                        <tr>
                                            <th>Content Status</th>
                                            <th>Count</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="i in FileGridData">
                                            <td>{{ i.cd_name }}</td>
                                            <td><a href="{{i.Url}}">{{ i.count}}</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Total Upload</label>
                                            </td>
                                            <td>
                                                <label>{{ TotalUpload }}</label>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.portlet-content -->
                        </div>
                        <!-- /.portlet -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <div class="portlet">
                            <div class="portlet-header">
                                <h3><i class="fa fa-bar-chart-o"></i>Content Status </h3>
                            </div>
                            <!-- /.portlet-header -->
                            <div class="portlet-content">
                                <!--<div id="donut-chart" class="chart-holder-225"></div>-->
                                <div id="high-charts" class="chart-holder-225"></div>
                            </div>
                            <!-- /.portlet-content -->
                        </div>
                        <!-- /.portlet -->
                    </div>
                    <!-- /.col -->
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5">
                    <div class="portlet portlet-table">
                        <div class="portlet-header">
                            <h3><i class="fa fa-group"></i>Published Content List </h3>
                        </div>
                        <!-- /.portlet-header -->
                        <div class="portlet-content">
                            <div class="table-responsive">
                                <table id="user-signups" class="table table-striped table-bordered table-checkable">
                                    <thead>
                                    <tr>
                                        <th>Vendor / Content Type </th>
                                        <th data-ng-repeat="i in FileNames">{{i.cd_name}}</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="i in VendorGridData">
                                        <td data-ng-repeat="j in i.Data"><a href="{{j.Url}}" data-ng-show="j.IsFirstRow==0" class="ng-binding">{{j.Count}}</a>
                                            <span data-ng-show="j.IsFirstRow==1">{{j.Name}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.portlet-content -->
                    </div>
                </div>
                <!--  <input type="button" title="MailSender" data-ng-click="MailSender()" class="btn btn-primary btn-w-md" value="SendMail" /> -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.content-container -->
    </div>
    <!-- /.content -->
</div>

